<!DOCTYPE html>
<htm lang="en">

    <head>

        <title>Droplet</title>

        <link rel="shortcut icon" href="./pics/favicon-32x32.png" type="image/x-icon">
        


        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <!--FONT AWESOME-->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--PLUGIN-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Bootstrap 5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--GOOGLE FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet">

        <!--STYLESHEET-->
        <link rel="stylesheet" href="css/guests/style.css">
        <link rel="stylesheet" href="css/guests/style2.css">


    </head>

    <body>

        <!--NAVIGATION-->
        <nav>
            <div class="topnav" id="myTopnav">
                
                <form action="/custom" method="post">
                    <button name="btnsNav" value="logo" id="logo"><img src="./pics/logoCorrect.jpg" alt="LOGO"></button>
                    <button type="button" id="cart" class="js-open-menu animate"><i class="fa fa-cart-plus"></i>Cart</button>
                    <!-- <button name="btnsNav" value="signup" class="animate">Sign Up</button> -->
                    <button name="btnsNav" value="login" id="loginBtn" class="animate">Log In</button>
                </form>
                    <div style="position: absolute; width: 70%; left: 15%;">
                    <form action="/products" method="post">
                        <input placeholder="search here..." autocomplete="off" onkeyup="sendData(this)" name="searchProduct" class="search-bar-input" type="text">
                        <button type="submit" class="search-bar-icon"><i class="fa fa-search" style="font-size: 20px"></i></button>
                        <div id="searchResults"></div>
                    </form>
                </div>
                <!-- <a href="#" id="active" class="animate">Home</a> -->
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="NavBar()">&#9776;</a>
            </div>
        </nav>
        





        <form action="/products-categories" method="post">
        <!-- Sort bar -->
        <div class="container">
            <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>
              <ul class="dropdown-menu">
                <li><button name="btnCategory" value="all" class="dropdown-item" href="#">All</button></li>
                <li><button name="btnCategory" value="smartphones" class="dropdown-item" href="#">Smartphones</button></li>
                <li><button name="btnCategory" value="laptops" class="dropdown-item" href="#">Laptops</button></li>
                <li><button name="btnCategory" value="fragrances" class="dropdown-item" href="#">Fragrances</button></li>
                <li><button name="btnCategory" value="skinCare" class="dropdown-item" href="#">Skincare</button></li>
                <li><button name="btnCategory" value="groceries" class="dropdown-item" href="#">Groceries</button></li>
                <li><button name="btnCategory" value="decor" class="dropdown-item" href="#">Home Decoration</button></li>
                <li><button name="btnCategory" value="furniture" class="dropdown-item" href="#">Furniture</button></li>
                <li><button name="btnCategory" value="tops" class="dropdown-item" href="#">Tops</button></li>
                <li><button name="btnCategory" value="womensDress" class="dropdown-item" href="#">Womens Dresses</button></li>
                <li><button name="btnCategory" value="mensShirts" class="dropdown-item" href="#">Mens Shirts</button></li>
                <li><button name="btnCategory" value="mensShoes" class="dropdown-item" href="#">Mens Shoes</button></li>
                <li><button name="btnCategory" value="mensWatches" class="dropdown-item" href="#">Mens Watches</button></li>
                <li><button name="btnCategory" value="womensWatches" class="dropdown-item" href="#">Womens Watches</button></li>
                <li><button name="btnCategory" value="womensBags" class="dropdown-item" href="#">Womens Bags</button></li>
                <li><button name="btnCategory" value="womensJewellery" class="dropdown-item" href="#">Womens Jewellery</button></li>
                <li><button name="btnCategory" value="sunglasses" class="dropdown-item" href="#">Sunglasses</button></li>
                <li><button name="btnCategory" value="automotive" class="dropdown-item" href="#">Automotive</button></li>
                <li><button name="btnCategory" value="motorcycle" class="dropdown-item" href="#">Motorcycle</button></li>
                <li><button name="btnCategory" value="lighting" class="dropdown-item" href="#">Lighting</button></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sort</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Price Low to High</a></li>
                <li><a class="dropdown-item" href="#">Price High to Low</a></li>
                <li><a class="dropdown-item" href="#">Rating</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </form>






        
            <!--PRODUCT CARDS-->
            <div class="container py-5">
                <div class="row">

                    <%if(foundItemsNew.length > 0){%>
                        <%for (const product of Object.entries(foundItemsNew)){%>
                            <form class="col-lg-3" action="/products-<%= (product[1].title).toLowerCase() %>" method="post">
                                <input type="text" style="display: none;" name="productTitleForParam" value="<%= (product[1].title).toLowerCase() %>">
                        <!-- Product Card -->
                        <div id="productCard">
                            <div class="product_card">
                              <div class="card border-0">
                                <div class="card-header bg-transparent border-0 p-0">
                                <img class="card-img-top" style="border-radius: 5px; max-height: 306px;" src="<%= product[1].thumbnail %>" alt="">
                                <div class="card-overlay">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary"><i class="fa fa-heart"></i></button>
                                    <button type="submit" class="btn btn-light"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                    </div>
                                </div>
                                <!-- <div class="details-btn">
                                    <a href="#" class="btn btn-dark">View Details</a>
                                </div> -->
                                </div>
                                <div class="card-body">
                                <small>
                                    <a class="text-muted"><%= product[1].brand %></a>
                                </small>
                                <strong>
                                    <button style="text-transform: capitalize;" class="text-body"><%= product[1].title %></button>
                                </strong>
                                <div class="price">
                                    <!-- <span class="text-decoration-line-through">৳ 870</span> -->
                                    <span class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                                <div class="price">
                                    <!-- <span class="text-decoration-line-through">৳ 870</span> -->
                                    <span class="text-warning">$<%= product[1].price %></span>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div style="display: none;">
                            <input type="text" name="productID" value="<%= product[1]._id %>">
                            <input type="text" name="productCategory" value="<%= product[1].category %>">
                        </div>
                        <!-- /Product Card -->
                    </form>
                        <%}%>
                    <%}else{%>
                        
                        <div class="no-products">
                            
                            <h5><i class="fa fa-warning"></i>Sorry, No products found.</h5>
                            
                        </div>

                    <%}%>

                </div>
            </div>
        












        
        
        <script src="js/guests/searchBar.js"></script>
        <script src="js/guests/cart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<%- include('footer') %> 