<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/seller/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Droplet</title>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar" id="sidebar">
            <h1 class="text-primary d-flex my-4 justify-content-center"><img src="./pics/logoCorrect.jpg" alt="LOGO"></h1>
            <div class="list-group rounded-0">

            <form id="dashboardSeller" action="/dashboard" method="post">
                <input type="hidden" id="signUpEmail" name="signUpEmail" value="<%= signUpEmail %>">
                <a href="javascript:void(0)" onclick="document.getElementById('dashboardSeller').submit();" class="list-group-item list-group-item-action border-0 d-flex align-items-center">
                    <span class="fa fa-th-large"></span>
                    <span class="ml-2">Dashboard</span>
                </a>
            </form>

            <!-- <form id="productSeller" action="/products-seller" method="post"> -->
              
              <a href="javascript:void(0)" class="list-group-item list-group-item-action active border-0 align-items-center">
                <span class="fa fa-th"></span>
                <span class="ml-2">Products</span>
              </a>
            <!-- </form> -->
      
              <a class="list-group-item list-group-item-action border-0 d-flex justify-content-between align-items-center" href="#sale-collapse" role="button" aria-expanded="false" data-bs-toggle="collapse" aria-controls="sale-collapse">
                <div>
                  <span class="fa fa-cart-dash"></span>
                  <span class="ml-2">Sales</span>
                </div>
                <span class="fa fa-chevron-down small"></span>
              </a>

              <div class="collapse collapse-sales-bar" id="sale-collapse" data-parent="#sidebar">
                <div class="list-group">
                  <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 pl-5">Customers</a>
                  <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 pl-5">Sale Orders</a>
                </div>
              </div>
            </div>
          </div>
          <!-- overlay to close sidebar on small screens -->
          <div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
          <!-- note: in the layout margin auto is the key as sidebar is fixed -->
          <div class="col-md-9 col-lg-10 ml-md-auto px-0">
            <!-- top nav -->
            <nav class="w-100 d-flex px-4 py-2 mb-4 shadow-sm">
                <!-- close sidebar -->
                <button class="btn py-0 d-lg-none" id="open-sidebar">
                  <span class="fa fa-list text-primary h3"></span>
                </button>
                <div class="dropdown ml-auto user-dropdown-button">
                  <button class="btn d-flex align-items-center" type="button" id="logout-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-user text-primary h4 text-secondary user-icon"></span>
                    <span class="fa fa-chevron-down ml-1 mb-2 small user-icon2"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm" aria-labelledby="logout-dropdown">
                    <a class="dropdown-item" href="#">Logout</a>
                    <a class="dropdown-item" href="#">Settings</a>
                  </div>
                </div>
              </nav>
              
            <!-- main content -->
            <main class="container-fluid">

              <div class="jumbotron-fluid rounded bg-white border-0 shadow-sm border-left py-4">
                <div class="container">

                  <form action="/new-product" method="post">
                    <input type="hidden" name="signUpEmail" value="<%= signUpEmail %>">
                    <button type="submit" class="btn btn-outline-secondary mb-3 float-right"><i class="fa fa-plus" style="margin-right: 10px;"></i>Add Product</button>
                  </form>
                                
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>                   
                      </tr>
                    </thead>
                    <tbody>
                      <%if(myProducts.length < 1){%>
                        <tr>
                          <th scope="row"></th>
                          <td>No Products</td>
                        </tr>
                      <%}else if(myProducts.length > 0){%>

                        <%for(const product of Object.entries(myProducts)){%>

                          <tr>
                            <th scope="row"><%=Number(product[0]) + 1%></th>
                            <td>
                              <img width="30" height="30" style="border-radius: 5px;" src="pics/<%=product[1].thumbnail.filename%>" alt="">
                              <%if((product[1].title.length) >= 60){%>
                                <%=(product[1].title).slice(0, 60) + '...'%>
                              <%}else{%>
                                <%=product[1].title%>
                              <%}%>
                            </td>
                            <td>$<%=product[1].price%></td>
                            <td>
                              <%=product[1].stock%>                        
                              <div class="d-inline-block float-right">
                                <button onclick="deleteProduct(this)" class="btn"><i class="fa fa-trash text-danger mr-1" style="cursor: pointer;"></i></button>
                                <form class="d-inline-block" style="margin-block-end: 0px !important" action="/edit-product" method="post">
                                  <button type="submit" class="btn btn-outline-primary" style="padding: 0 15px;">Edit</i></button>
                                  <input type="hidden" name="sellerEmail" value="<%= signUpEmail %>">
                                  <input type="hidden" id="productID" name="productID" value="<%= product[1].id %>">
                                </form>                                
                              </div>
                            </td>
                          </tr>

                        <%}}%>
                    </tbody>
                  </table>
                </div>

            </main>
          </div>
        </div>
      </div>
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="js/seller/dash.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="js/seller/delete.js"></script>
      <script>
        window.onload = function() {
          if(!window.location.hash) {
              window.location = window.location + '#loaded';
              window.location.reload();
          }
        }
      </script>
      
    </body>
</html>
